<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>
    <div>
        <h1><%= blog.title %></h1>
        <h3><%= blog.snippet %></h3>
        <p><%= blog.body %></p>
    </div>
    <div>
        <a href="/blogs/update/<%= blog._id %>">Update</a>
        <!-- <button id="update" data-doc="<%= blog._id%>">Update</button> -->
        <button id="delete" data-doc="<%= blog._id %>">Delete</button>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>
<script>
    const delete_blog = document.getElementById('delete');

    delete_blog.addEventListener('click', (e) => {

        const id = delete_blog.dataset.doc;
        const url_endpoint = `/blogs/${id}`;

        fetch(url_endpoint, {
                method: 'DELETE'
            })
            .then(res => res.json())
            .then(data => window.location.href = data.redirect)
            .catch(err => console.log(err))
    })
</script>
<!-- <script>
    const update_blog = document.getElementById('update');

    update_blog.addEventListener('click', (e) => {
        const id = update_blog.dataset.doc;
        const url_endpoint = `/blogs/update/${id}`;

        fetch(url_endpoint, {
                method: 'GET'
            }).then(res => res.json())
            .then(data => {
                window.location.href = `${data.redirect}/${data._id}`
            })
            .catch(err => console.log(err))
    })
</script> -->

</html>